* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    line-height: 1.6;
}

.header {
    background-color: #3CB371;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.logo h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.search-section {
    text-align: center;
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 8px;
}

.search-bar {
    margin: 1rem 0;
}

.search-bar input {
    padding: 0.5rem;
    width: 50%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.search-bar button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #004494;
}

.filter-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.filter-btn {
    background-color: #f0f0f0;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.filter-btn:hover {
    background-color: #ddd;
    transition: background-color 0.3s ease-in-out;
}

.form-section {
    text-align: center;
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 8px;
}

.form input {
    padding: 1rem;
    margin: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 20%;
}

.form button {
    padding: 1rem 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.form button:hover {
    background-color: #218838;
    transition: background-color 0.3s ease-in-out;
}

.results-section {
    text-align: center;
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 8px;
}

.catalog-section {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.catalog-section h3 {
    text-align: center;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.catalog-grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.catalog-grid div {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
}

.catalog-grid div:hover {
    background-color: #f0f0f0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

/* Botones generales */
button {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
